<p-confirmdialog></p-confirmdialog>
<div class="select-muscle-group-workout">
    <h1 class="mt-2 mb-3 text-center font-bold">Sélectionner un entraînement</h1>

    @if (!muscleGroupExerciseCount) {
        @for (skeleton of [1, 2, 3, 4, 5, 6, 7]; track skeleton; let first = $first) {
            <div class="muscle-groups" >
                <div class="muscle-group-card">
                    <div class="flex-1 flex align-items-center justify-content-between">
                        <p-skeleton height="2rem" width="10rem" class="mb-2"/>
                        @if (first) {
                            <p-skeleton height="2rem" width="8rem"/>
                        }
                    </div>
                    <p-skeleton height="2rem" width="5rem" class="mb-2"/>
                </div>
            </div>
        }
    } @else {
        @for (muscleGroupExerciseCount of muscleGroupExerciseCount; track muscleGroupExerciseCount.muscleGroup.id; let first = $first) {
            @let muscleGroup = muscleGroupExerciseCount?.muscleGroup;
            <div class="muscle-groups" (click)="clickMuscleGroup(muscleGroup)">
                <div class="muscle-group-card" [ngClass]="{
                        'selected-light': !isDarkMode && first,
                        'selected-dark': isDarkMode && first,
                        'shadow-dark': isDarkMode,
                        'shadow-light': !isDarkMode
                    }">
                    <div class="flex-1 flex align-items-center justify-content-between">
                        <h2 class="text-xl font-bold text-primary">{{ muscleGroup.name | firstLetterUppercase }}</h2>
                        @if (first) {
                            <p-tag severity="info">Recommandé</p-tag>
                        }
                    </div>
                    <span
                        class="text-lg">{{ muscleGroupExerciseCount.exerciseCount }} {{ muscleGroupExerciseCount.exerciseCount <= 1 ? 'exercice' : 'exercices' }}</span>
                </div>
            </div>
        }
    }
</div>


<app-dialog-select-cardio-exercise
    [(openModal)]="isOpenModalExerciseCardio"
    (showAlert)="showAlert($event)"
></app-dialog-select-cardio-exercise>
