.select-muscle-group-workout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    a {
        width: 100%;
        text-decoration: none;
        color: var(--p-text-color);
        text-underline: none;

        .muscle-group-card {
            padding: 1.2em 2em;
            border-radius: 8px;
        }
    }

    .recommended-light {
        background: #e8f2fd;
    }

    .recommended-dark {
        background: #1f2a36;
    }

}
