.select-muscle-group-workout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    .muscle-groups {
        width: 100%;

        a {
            text-decoration: none;
            color: var(--p-text-color);
            text-underline: none;
        }

        .muscle-group-card {
            padding: 1.2em 2em;
            border-radius: 8px;
        }
    }

}
