<p-message *ngIf="errorMessage" severity="error">{{ errorMessage }}</p-message>


<div class="select-muscle-group-workout">
    <h1 class="mt-2 mb-3 text-center">Sélectionner un entraînement</h1>
    <ng-container *ngFor="let muscleGroup of muscleGroups">
        <div class="muscle-group-card" [ngClass]="{
        'recommended': muscleGroup?.isRecommended,
        }">
            <a [routerLink]="['/', MenuUrls.workout, 'workout-session', muscleGroup?.id]">
                <div class="flex-1 flex align-items-center justify-content-between">
                    <h2 class="text-xl font-bold text-primary">{{ muscleGroup?.name }}</h2>
                    <p-tag *ngIf="muscleGroup.isRecommended" severity="info">Recommandé</p-tag>
                </div>
                <span class="text-lg ">{{ muscleGroup.exerciseCount }} {{ muscleGroup.exerciseCount <= 1 ? 'exercice' : 'exercices' }}</span>
            </a>
        </div>
    </ng-container>
</div>
