.select-muscle-group-workout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: #f5f8fc;

    .muscle-group-card {
        width: 100%;
        padding: 1.2em 2em;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        background: #f9f9f9;


        a {
            text-decoration: none;
            color: black;
        }
    }


    .recommended {
        background: #e8f2fd;
    }

}
