my-workout-app/node_modules
my-workout-api/node_modules
my-workout-api/.env

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/.angular/


my-workout-app/.idea
my-workout-app/.angular
/my-workout-app/.angular/
/my-workout-app/dist/
