.list-muscle-group {
  display: flex;
  flex-direction: column;
  gap: 20px;

  a {
    text-decoration: none;

    .muscle-group {
      width: 100%;
      height: 150px;
      border-radius: 12px;
      background: #610505;

      span {
        color: white;
        text-transform: uppercase;
        font-size: 1.8em;
        margin: 10px;
      }
    }
  }
}
