<div class="desktop">
    <section class="banner">
        <div class="banner-left">
            <h1 class="text-white">MY WORKOUT</h1>
            <h2 class="text-white mb-5">Track. Lift. Progress</h2>
            <img src="/assets/images/app_qr-code.png" class="mb-1" alt="qr code">
            <h4 class="text-white">Disponible uniquement sur mobile 📱</h4>
        </div>
        <div class="banner-right">
            <img src="/assets/images/app-preview.png" alt="App screenshot">
        </div>
    </section>
</div>
