.workout-session {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .step-button {
        border-radius: 50%;
        padding: .9em 1.2em;
        border: #e2e8f0 2.5px solid;
        background: transparent;
        text-align: center;
    }

    p-inputnumber input {
        text-align: center;
    }


    .bottom-page {
        position: absolute;
        bottom: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 3;
        left: 50%;
        transform: translateX(-50%);

        .stopwatch span {
            font-size: 2.5em;
            font-weight: 700;
        }

        .button-toggle-timer {
            background: var(--p-primary-color);
            border-radius: 50%;
            padding: .1em 1.5em;

            fa-icon {
                color: white;
                font-size: 17px;
            }
        }
    }
}
