<div [routerLink]="['/', 'library', 'exercises', exercise?.id]">
    <h3 class="text-primary mb-2">{{ exercise.name }}</h3>
</div>

@for (history of histories; track history.id) {
    <div class="flex flex-row text-sm text-color-secondary gap-1">
        <span>{{ history?.reps }}</span>
        @if (history.reps && history.weight) {
            <span>x</span>
        }
        @if (history.weight) {
            <span>{{ history.weight }} kg</span>
        }
        @if (!history.weight && (history.reps === 0 || history.reps === 1)) {
            <span>répétition</span>
        }
        @if (!history.weight && history.reps > 1) {
            <span>répétitions</span>
        }
        @if (history.unilateral) {
            (unilatéral)
        }
        @if (!history.weight && !history.reps && duration) {
            <span>{{ duration | convertTime }}</span>
        }
    </div>
}
