<div class="flex-1 flex flex-column gap-2">
    <form [formGroup]="formGroup">
        <span class="text-lg text-color-secondary mb-2">Gérer mon compte</span>
        <p-floatlabel variant="on">
            <input class="w-full" formControlName="email" pInputText id="email"/>
            <label for="email">Email</label>
            @if (formGroup.controls.email.touched && formGroup.controls.email.hasError('email')) {
                <p-message severity="error" variant="simple" size="small">
                    L'email n'est pas valide
                </p-message>
            }
            @if (formGroup.controls.email.touched && formGroup.controls.email.hasError('emailAlreadyInUse')) {
                <p-message severity="error" variant="simple" size="small">
                    Cet email est déjà utilisé
                </p-message>
            }
            @if (formGroup.controls.email.hasError('validation')) {
                <p-message severity="error" variant="simple" size="small">
                    {{ formGroup.controls.email.getError('validation') }}
                </p-message>
            }

            @if (formGroup.controls.email.touched && formGroup.controls.email.hasError('unknownError')) {
                <p-message severity="error" variant="simple" size="small">
                    Une erreur s'est produite
                </p-message>
            }
        </p-floatlabel>

        <div class="mt-2 mb-3 flex-1 flex justify-content-around align-items-center">
            <label for="change-password" class="text-lg text-color-secondary">Changer le mot de passe</label>
            <p-toggleswitch inputId="change-password" (click)="toggleChangePassword()"/>
        </div>

        @if (isCheckedChangePassword) {
            <div class="flex flex-column gap-3 w-full mb-3">
                <!--Password-->
                <p-floatlabel variant="on">
                    <input type="password" class="w-full" pInputText formControlName="password">
                    <label for="password">Nouveau mot de passe</label>

                    @if (formGroup.controls.password.touched && formGroup.controls.password.hasError('minlength')) {
                        <p-message severity="error" variant="simple" size="small">
                            Le mot de passe doit contenir au minimum 6 caractères
                        </p-message>
                    }
                    @if (formGroup.controls.password.hasError('validation')) {
                        <p-message severity="error" variant="simple" size="small">
                            {{ formGroup.controls.password.getError('validation') }}
                        </p-message>
                    }
                </p-floatlabel>

                <!--Confirm password-->
                <p-floatlabel variant="on">
                    <input type="password" class="w-full" pInputText formControlName="confirmPassword">
                    <label for="confirmPassword">Confirmer le mot de passe</label>

                    @if (formGroup.controls.confirmPassword.touched && formGroup.controls.confirmPassword.hasError('minlength')) {
                        <p-message severity="error" variant="simple" size="small">
                            Le mot de passe doit contenir au minimum 6 caractères
                        </p-message>
                    }

                    @if (formGroup.controls.confirmPassword.touched && formGroup.controls.password.value !== formGroup.controls.confirmPassword.value) {
                        <p-message
                            severity="error" variant="simple" size="small">
                            Les mot de passe ne correspondent pas
                        </p-message>
                    }
                </p-floatlabel>
            </div>
        }

        <p-button
            [disabled]="
          (
            isCheckedChangePassword &&
            (
              formGroup.invalid ||
              formGroup.controls.password.value !== formGroup.controls.confirmPassword.value
            )
          ) ||
          (
            !isCheckedChangePassword &&
            currentEmail === formGroup.controls.email.value
          )"
            pRipple class="mt-2" label="Mettre à jour" (onClick)="updateUser()"/>
    </form>
</div>
