<h1 class="text-center mt-1">{{ exercise?.name }}</h1>

<canvas id="bar" class="mt-8 mb-6"></canvas>

<div class="m-3 p-4 border-round-2xl text-primary" [ngClass]="{
            'shadow-dark': isDarkMode,
            'shadow-light': !isDarkMode,
        }">

    <div class="p-1 flex justify-center align-items-center gap-3 text-xl">
        <i class="pi pi-chart-bar" style="font-size: 1.2rem"></i>
        <span>Charge totale utilisée : {{ totalWeight }} kg</span>
    </div>
</div>

<div class="m-3 p-4 border-round-2xl text-primary" [ngClass]="{
            'shadow-dark': isDarkMode,
            'shadow-light': !isDarkMode,
        }">

    <div class="p-1 flex justify-center align-items-center gap-3 text-xl">
        <i class="pi pi-gauge" style="font-size: 1.2rem"></i>
        <span>Nombre de séries totale exécutées : {{ totalReps }}</span>
    </div>
</div>

<div class="m-3 p-4 border-round-2xl text-primary" [ngClass]="{
            'shadow-dark': isDarkMode,
            'shadow-light': !isDarkMode,
        }">

    <div class="p-1 flex justify-center align-items-center gap-3 text-xl">
        <i class="pi pi-trophy" style="font-size: 1.2rem"></i>
        <span>Charge la plus lourde utilisée : {{ maxWeight }} kg</span>
    </div>
</div>
