.fc-prev-button {
    display: none !important;
}

.fc-next-button {
    display: none !important;
}

.fc-header-toolbar {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}

.fc-today-button {
    background: var(--p-primary-800) !important;
    border: 1px solid var(--p-primary-800) !important;
}


.fc .fc-daygrid-day.fc-day-today {
    background: var(--p-primary-400);
}
