.fc-prev-button {
    display: none !important;
}

.fc-next-button {
    display: none !important;
}

.fc-header-toolbar {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}

.fc-today-button {
    background: var(--p-primary-800) !important;
    border: 1px solid var(--p-primary-800) !important;
}


.fc-day-today {
    background-color: transparent !important;

    .fc-daygrid-day-frame > .fc-daygrid-day-top > a.fc-daygrid-day-number {
        display: inline-block;
        min-width: 2ch;
        text-align: center;
        background: var(--p-primary-700);
        color: #FFFFFF;
        border-radius: 50%;
        padding: 5px;
        line-height: 1;
    }
}

.event-color-style {
    padding-left: 3px;
    border-left-width: 3px;
    border-left-style: solid;
}
