<h1 class="mt-2 mb-2 text-center">{{ formAddExercise.controls.id.value ? 'Modifier' : 'Ajouter' }} un exercice</h1>

<div class="mt-5">
    <form class="flex justify-content-center align-items-center gap-2 flex-column" [formGroup]="formAddExercise">
        <!--Name-->
        <div>
            <p-floatlabel variant="on">
                <input pInputText id="name" formControlName="name" autocomplete="off"/>
                <label for="name">Nom de l'exercice</label>
            </p-floatlabel>
            @if (formAddExercise.controls.name.touched && formAddExercise.controls.name.hasError('required')) {
                <p-message
                    severity="error"
                    variant="simple" size="small">
                    Champs requis
                </p-message>
            }
            @if (formAddExercise.controls.name.touched && formAddExercise.controls.name.hasError('minlength')) {
                <p-message
                    severity="error"
                    variant="simple" size="small">
                    3 caractères min.
                </p-message>
            }
            @if (formAddExercise.controls.name.touched && formAddExercise.controls.name.hasError('maxlength')) {
                <p-message
                    severity="error"
                    variant="simple" size="small">
                    50 caractères max.
                </p-message>
            }
            @if (formAddExercise.controls.name.hasError('exerciseNameAlreadyExist')) {
                <p-message
                    severity="error"
                    variant="simple" size="small">
                    Cet exercice existe déjà
                </p-message>
            }
            @if (formAddExercise.controls.name.hasError('unknownError')) {
                <p-message
                    severity="error"
                    variant="simple" size="small">
                    Une erreur s'est produite
                </p-message>
            }
        </div>

        <!--Description-->
        <div class="field-container">
            <p-floatlabel variant="on">
                <textarea pTextarea id="over_label" formControlName="description" rows="20" cols="40"
                          style="resize: none" class="h-full"></textarea>
                <label for="on_label">Description</label>
            </p-floatlabel>
            @if (formAddExercise.controls.description.touched && formAddExercise.controls.description.hasError('required')) {
                <p-message
                    severity="error"
                    variant="simple" size="small">
                    Champs requis
                </p-message>
            }
            @if (formAddExercise.controls.description.touched && formAddExercise.controls.description.hasError('minlength')) {
                <p-message
                    severity="error"
                    variant="simple" size="small">
                    10 caractères min.
                </p-message>
            }
            @if (formAddExercise.controls.description.touched && formAddExercise.controls.description.hasError('maxlength')) {
                <p-message
                    severity="error"
                    variant="simple" size="small">
                    500 caractères max.
                </p-message>
            }
            @if (formAddExercise.controls.description.hasError('quotaExceeded')) {
                <p-message
                    severity="error"
                    variant="simple" size="small">
                    Limite de requêtes atteinte
                </p-message>
            }
            @if (formAddExercise.controls.description.hasError('exerciseNotFound')) {
                <p-message
                    severity="error"
                    variant="simple" size="small">
                    Veuillez ajuster le nom de l'exercice
                </p-message>
            }
            @if (formAddExercise.controls.description.hasError('unknownError')) {
                <p-message
                    severity="error"
                    variant="simple" size="small">
                    Une erreur s'est produite
                </p-message>
            }

            <div class="mt-2">
                <p-button
                    [disabled]="formAddExercise.controls.name.invalid || formAddExercise.controls.name.value.trim() === ''"
                    [loading]="loadingDescription"
                    size="small"
                    severity="primary" label="Générer par IA" (click)="generateExerciseDescription()"></p-button>
            </div>
        </div>

        <!--Smart workout-->
        <div class="flex justify-content-center gap-3">
            <label for="isSmartWorkout" class="text-color-secondary">
                Smart-Workout
            </label>
            <p-toggleswitch inputId="isSmartWorkout" formControlName="isSmartWorkout"/>
        </div>

        <!--Muscles-->
        <div class="card flex justify-center mt-3">
            <div>
                <p-multiselect [options]="musclesDropdown" [group]="true" formControlName="muscles"
                               placeholder="Muscles ciblés"
                               optionLabel="name"
                               scrollHeight="250px" display="chip" styleClass="w-full md:w-80">
                </p-multiselect>
                @if (formAddExercise.controls.muscles.touched && formAddExercise.controls.muscles.hasError('required')) {
                    <p-message
                        severity="error"
                        variant="simple" size="small">
                        Champs requis
                    </p-message>
                }
            </div>
        </div>

        <!--Submit-->
        <p-button label="Valider" (click)="createExercise()"
                  [disabled]="formAddExercise.invalid" size="large" class="button-submit"/>
    </form>

</div>

<p-confirmdialog/>
