<div class="auth-container">
    <div class="screen">
        <div class="screen__content">
            <form [formGroup]="formRegister" (ngSubmit)="signUp()" class="login">
                <div>
                    <div class="login__field">
                        <i class="pi pi-user login__icon"></i>
                        <input formControlName="email" type="text" class="login__input" placeholder="Email">
                    </div>
                    @if (formRegister.controls.email.touched && formRegister.controls.email.hasError('email')) {
                        <p-message severity="error" variant="simple" size="small">
                            L'email n'est pas valide
                        </p-message>
                    }
                    @if (formRegister.controls.email.hasError('emailAlreadyInUse')) {
                        <p-message severity="error" variant="simple" size="small">
                            Cet email est déjà utilisé
                        </p-message>
                    }
                    @if (formRegister.controls.email.hasError('validation')) {
                        <p-message severity="error" variant="simple" size="small">
                            {{ formRegister.controls.email.getError('validation') }}
                        </p-message>
                    }
                    @if (formRegister.controls.email.hasError('unknownError')) {
                        <p-message severity="error" variant="simple" size="small">
                            Une erreur s'est produite
                        </p-message>
                    }
                </div>

                <div>
                    <div class="login__field">
                        <i class="pi pi-lock login__icon"></i>
                        <input formControlName="password" type="password" class="login__input"
                               placeholder="Mot de passe">
                    </div>
                    @if (formRegister.controls.password.touched && formRegister.controls.password.hasError('minlength')) {
                        <p-message
                            severity="error" variant="simple" size="small">
                            Le mot de passe doit contenir au moins 6 caractères
                        </p-message>
                    }
                    @if (formRegister.hasError('passwordNotMatch') ||
                        formRegister.controls.password.value.trim() !== formRegister.controls.confirmPassword.value.trim()) {
                        <p-message
                            severity="error" variant="simple" size="small">
                            Les mots de passe ne correspondent pas
                        </p-message>
                    }
                    @if (formRegister.controls.password.hasError('validation')) {
                        <p-message severity="error" variant="simple" size="small">
                            {{ formRegister.controls.password.getError('validation') }}
                        </p-message>
                    }
                </div>

                <div>
                    <div class="login__field">
                        <i class="pi pi-lock login__icon"></i>
                        <input formControlName="confirmPassword" type="password" class="login__input"
                               placeholder="Confirmer le mot de passe">
                    </div>
                    @if (formRegister.hasError('passwordNotMatch')) {
                        <p-message severity="error" variant="simple"
                                   size="small">
                            Les mots de passe ne correspondent pas
                        </p-message>
                    }
                </div>

                <button type="submit" class="button login__submit" [ngClass]="{
                    'disabled': formRegister.invalid || formRegister.controls.password.value !== formRegister.controls.confirmPassword.value
                    }"
                        [disabled]="formRegister.invalid || formRegister.controls.password.value !== formRegister.controls.confirmPassword.value">
                    <span class="button__text">S'inscrire</span>
                    <i class="button__icon pi pi-chevron-right" style="font-size: 2rem"></i>
                </button>
            </form>
            <div class="register">
                <a routerLink="/auth/login">
                    <h3>Déjà membre ? Connectez-vous ici</h3>
                </a>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>
