<p-dialog header="Réinitialiser le mot de passe" [modal]="true" [visible]="true" dismissableMask="true"
          [style]="{ width: '25rem' }">
    <span class="text-color-secondary block mb-4">
        Taper votre nouveau mot de passe
    </span>
    <form class="flex-1 flex flex-column gap-3 mb-4" [formGroup]="formResetPassword" (ngSubmit)="submitForm()">
        <p-floatlabel variant="on">
            <p-password formControlName="newPassword" id="newPassword" autocomplete="off" [feedback]="false">
            </p-password>
            <label for="newPassword">Mot de passe</label>
            <p-message
                *ngIf="formResetPassword.controls.newPassword.touched && formResetPassword.controls.newPassword.invalid"
                severity="error"
                variant="simple" size="small">
                Le mot de passe n'est pas valide
            </p-message>
            <p-message
                *ngIf="formResetPassword.controls.newPassword.touched && formResetPassword.controls.newPassword.value.trim() !== formResetPassword.controls.confirmPassword.value.trim()"
                severity="error" variant="simple" size="small">
                Les mots de passe ne correspondent pas
            </p-message>
        </p-floatlabel>
        <p-floatlabel variant="on">
            <p-password formControlName="confirmPassword" id="confirmPassword" autocomplete="off" [feedback]="false">
            </p-password>
            <label for="confirmPassword">Confirmer le mot de passe</label>
            <p-message
                *ngIf="formResetPassword.controls.confirmPassword.touched && formResetPassword.controls.confirmPassword.invalid"
                severity="error"
                variant="simple" size="small">
                Le mot de passe n'est pas valide
            </p-message>
        </p-floatlabel>
    </form>
    <div class="flex justify-end gap-2">
        <p-button label="Annuler" severity="secondary" (click)="redirectToSignIn()" />
        <p-button
            [ngClass]="{
                'disabled': formResetPassword.invalid || formResetPassword.controls.newPassword.value !== formResetPassword.controls.confirmPassword.value
            }"
            [disabled]="formResetPassword.invalid || formResetPassword.controls.newPassword.value !== formResetPassword.controls.confirmPassword.value"
            label="Confirmer" (click)="submitForm()" />
    </div>
</p-dialog>
