<div class="auth-container">
    <div class="screen">
        <div class="screen__content">
            <p-message *ngIf="alert?.message" [severity]="alert?.severity">{{ alert?.message }}</p-message>

            <form [formGroup]="formSignIn" (ngSubmit)="signIn()" class="login">
                <div>
                    <div class="login__field">
                        <fa-icon class="login__icon" [icon]="faIcons.faUser"></fa-icon>
                        <input formControlName="email" type="text" class="login__input" placeholder="Email">
                    </div>
                    <p-message *ngIf="formSignIn.controls.email.touched && formSignIn.controls.email.errors?.['email']"
                               severity="error" variant="simple" size="small">
                        L'email n'est pas valide
                    </p-message>
                    <p-message *ngIf="formSignIn.hasError('invalidCredential')" severity="error" variant="simple"
                               size="small">
                        {{ formSignIn.getError('invalidCredential') }}
                    </p-message>
                    <p-message *ngIf="formSignIn.hasError('unknownError')" severity="error" variant="simple" size="small">
                        {{ formSignIn.getError('unknownError') }}
                    </p-message>
                </div>
                <div class="login__field">
                    <fa-icon class="login__icon" [icon]="faIcons.faLock"></fa-icon>
                    <input formControlName="password" type="password" class="login__input" placeholder="Mot de passe">
                </div>
                <button class="button login__submit" [ngClass]="{
                    'disabled': formSignIn.invalid
                    }"
                        [disabled]="formSignIn.invalid">
                    <span class="button__text">Connexion</span>
                    <fa-icon class="button__icon" [icon]="faIcons.faChevronRight"></fa-icon>
                </button>
            </form>
            <div class="sign-up">
                <span (click)="showDialogForgotPassword = true">
                    <h3>Mot de passe oublié</h3>
                </span>
                <a routerLink="/auth/sign-up">
                    <h3>Pas encore inscrit ? Créez un compte ici</h3>
                </a>

            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>

<app-forgot-password [(showDialogForgotPassword)]="showDialogForgotPassword"></app-forgot-password>
