<div class="m-3 p-4 border-round-2xl text-primary" [ngClass]="{
            'shadow-dark': isDarkMode,
            'shadow-light': !isDarkMode,
        }">

    <div class="p-1 flex justify-center align-items-center gap-3 text-xl">
        <i class="pi pi-calendar-times" style="font-size: 1.2rem"></i>
        <span>Nombre jour d'entraînement : {{ totalDaysWorkout }} </span>
    </div>
</div>


<div *ngFor="let exercise of exercises" class="p-2">
    <a [routerLink]="['/', 'user', 'graphs', exercise?.id]" class="text-primary">
        {{ exercise.name }}
    </a>
</div>
