<div class="history">
    <ng-container *ngIf="isLoading else content">
        <div *ngFor="let skeleton of [1, 2]">
            <div class="p-5">
                <p-skeleton width="10rem" styleClass="mb-2" />

                <div *ngFor="let s of [1, 2]" class="p-3 mb-3 border-round-lg" [ngClass]="{
                    'shadow-dark': isDarkMode,
                    'shadow-light': !isDarkMode
                    }">
                    <h3 class="mb-4" [ngClass]="{
                    'text-black-alpha-90': isDarkMode
                    }">
                        <p-skeleton width="5rem" styleClass="mb-2" />
                    </h3>

                    <ng-container *ngFor="let exercise of [1, 2, 3]">
                        <div class="flex justify-content-between mb-2">
                            <p-skeleton width="8rem" styleClass="mb-2" />

                            <div class="flex flex-column text-right text-sm text-color-secondary">
                                <p-skeleton width="2rem" />
                            </div>
                        </div>
                    </ng-container>
                    <div class="flex justify-content-end mt-3">
                        <p-skeleton width="4rem" height="3rem" />
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #content>
        <div *ngFor="let w of workout">
            <div class="p-3 mb-3">
                <h2 class="mb-2 text-2xl">{{ w.date | date:'fullDate' | titlecase }}</h2>

                <!-- Muscle group name -->
                <div *ngFor="let mg of w.muscleGroups" class="flex flex-column mb-3">
                    <h3 class="mb-1 text-color-secondary text-2xl">{{ mg.muscleGroup.name }}</h3>

                    <!-- List exercises -->
                    <div *ngFor="let h of mg.history; let i = index"
                         class="mt-3 p-3 border-round-lg"
                         [ngClass]="{
                    'shadow-dark': isDarkMode,
                    'shadow-light': !isDarkMode
                    }">
                        <h3 class="text-primary mb-2">{{ h.exercise.name }}</h3>
                        <ng-container *ngFor="let groupedHistory of h.groupedHistory">
                            <div class="flex flex-row text-sm text-color-secondary gap-1">
                                <span *ngIf="groupedHistory.reps">{{ groupedHistory.reps }}</span>
                                <span *ngIf="groupedHistory.reps && groupedHistory.weight">x</span>
                                <span *ngIf="groupedHistory.weight">{{ groupedHistory.weight }} kg</span>
                                <span *ngIf="!groupedHistory.weight">Poids du corps</span>
                            </div>
                        </ng-container>
                        <!--                    <hr class="mt-3 mb-3" *ngIf="i >= 0 && i <= w.history.length" />-->
                        <div class="flex justify-content-end mt-3">
                            <p-button pRipple icon="pi pi-trash" severity="danger"
                                      (onClick)="deleteWorkout(w.id, w.muscleGroup.name, h.workout.date)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<p-confirmdialog></p-confirmdialog>
