<div class="history">

    <ng-container *ngIf="isLoading else content">
        <div *ngFor="let skeleton of [1, 2, 3, 4, 5]" class="col-span-12">
            <div class="flex flex-col align-items-center p-6 gap-4">
                <div class="md:w-40">
                    <p-skeleton shape="circle" size="2rem" styleClass="mr-2" />
                </div>

                <div class="flex-1 flex flex-row justify-content-between align-items-center gap-6">
                    <div>
                        <div class="text-sm text-secondary">
                            <p-skeleton width="5rem" styleClass="mb-2" />
                        </div>
                        <div class="text-xl text-surface-900 dark:text-surface-0 mt-2">
                            <p-skeleton width="10rem" styleClass="mb-2" />
                        </div>
                    </div>
                    <div>
                        <p-skeleton size="2rem" styleClass="mr-2" />
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #content>
        <div *ngFor="let h of history">
            <div class="p-5">
                <h2 class="mb-2">{{ h.workout.date | date:'fullDate' | titlecase }}</h2>

                <div *ngFor="let group of h.groups" class="p-3 mb-3 bg border-round-lg" [ngClass]="{
                    'recommended-light': !isDarkMode,
                    'recommended-dark': isDarkMode,
                    'shadow-dark': isDarkMode,
                    'shadow-light': !isDarkMode
                    }">
                    <!-- Muscle group name -->
                    <h3 class="mb-3" [ngClass]="{
                    'text-black-alpha-90': isDarkMode
                    }">{{ group.muscleGroup.name }}</h3>

                    <!-- List exercises -->
                    <div *ngFor="let exercise of group.exercises" class="flex justify-content-between mb-2">
                        <!-- Exercise name -->
                        <div class="text-primary text-lg">
                            <span *ngIf="exercise.count > 1">{{ exercise.count }}x</span>
                            {{ exercise.name }}
                        </div>

                        <!-- Weight -->
                        <div class="flex flex-column text-right text-sm text-color-secondary">
                            {{ exercise.weight }} kg
                        </div>
                    </div>
                    <div class="flex justify-content-end mt-3">
                        <p-button pRipple icon="pi pi-trash" severity="danger"
                                  (onClick)="deleteWorkout(group.muscleGroup.name, h.workout.date, h.workout.id)" />
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<p-confirmdialog />
