@import 'primeicons/primeicons.css';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    height: 100%;
    scroll-behavior: smooth;
}

.display-none {
    display: none;
}


.shadow-light {
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.05);
}

.shadow-dark {
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
}


.selected-light {
    background: #e8f2fd;
}

.selected-dark {
    background: #1f2a36;
}

.disabled {
    opacity: .6;
}

.mr-2-5 {
    margin-right: 8px;
}

a {
    text-decoration: none;
}


.text-no-wrap {
    text-wrap: nowrap;
}


img {
    max-width: 100%;
    height: auto;
}

:root {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
}

html.dark-mode {
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
}
